<!--{template header}-->
<!--{eval $adlist = $this->fromcache("adlist");}-->

<div class="wrapper clearfix bordered mt10">

    <div class="nav-line">
        <a class="first" href="{url category/view/all}">全部分类</a>
        <!--{loop $navlist $nav}-->
        &gt; <a href="{url category/view/$nav['id']}">{$nav['name']}</a> 
        <!--{/loop}-->
        <!--{if $cid!='all'}-->&gt; <span>{$category['name']}</span><!--{/if}-->
    </div>
    <div class="tablist">
        <ul>
            <li {if all==$status}class="current"{/if}><a href="{url category/view/$cid/all}">全部问题</a></li>
            <li {if 1==$status}class="current"{/if}><a href="{url category/view/$cid/1}">待解决</a></li>
            <li {if 2==$status}class="current"{/if}><a href="{url category/view/$cid/2}">已解决</a></li>
            <li {if -1==$status}class="current"{/if}><a href="{url category/view/$cid/-1}">零回答</a></li>

            <!--<li {if 6==$status}class="current"{/if}><a href="{url category/view/$cid/6}">推荐问题</a></li>-->
            <li {if 4==$status}class="current"{/if}><a href="{url category/view/$cid/4}">高悬赏</a></li>
        </ul>
    </div>
    <div class="content-left">
        <!--广告位1-->
        <!--{if (isset($adlist['category']['left1']) && trim($adlist['category']['left1']))}-->
        <div style="margin-top:5px;">{$adlist['category']['left1']}</div>
        <!--{/if}-->
        <div id="mod-answer-list" class="mod-answer-list mt10">
            <div class="bd">
                <div class="cls-qa-table">
                    <!--{loop $questionlist $index $question}-->
                    <ul class="list">	    		
                        <li>
                            <span class="qdot">·</span>
                            <a target="_blank" class="type" href="{url category/view/$question['cid']}" title="{$question['category_name']}">[{eval echo cutstr($question['category_name'],10,'');}]</a>
                            <a target="_blank" href="{url question/view/$question['id']}" title="{$question['title']}">{eval echo cutstr($question['title'],50);}</a>
                            <span class="answer-number">{$question['format_time']}</span>
                            <span class="answer-number"><font color="#F9861A">{$question['answers']}</font>回答</span>

                        </li>
                    </ul>
                    <!--{/loop}-->
                </div>
                <div class="pages">{$departstr}</div>
            </div>
        </div>
    </div>

    <div class="aside-right">
        <div class="modbox">
            <div style="text-align: center;padding:10px;">
                <a href="{url question/add}"><img src="{SITE_URL}css/default/i_ask.png" /></a>
            </div>
        </div>
        <!--{if $expertlist}-->
        <div class="modbox mb10">
            <div class="title">本周推荐专家</div>
            <p class="more"><a href="{url expert/default}" target="_blank">更多</a></p>
            <ul class="left-expert-list">
                <!--{eval $expertlist=$this->fromcache('expertlist');}-->
                <!--{loop $expertlist $expert}-->
                <li>
                    <div class="pic"><a title="{$expert['name']}" target="_blank" href="{url user/space/$expert['uid']}"><img width="50" height="50" alt="{$expert['username']}" src="{$expert['avatar']}"  onmouseover="pop_user_on(this, '{$expert[uid]}', '');"  onmouseout="pop_user_out();"/></a></div>
                    <h3><a title="{$expert['name']}" target="_blank" href="{url user/space/$expert['uid']}" onmouseover="pop_user_on(this, '{$expert[uid]}', 'text');"  onmouseout="pop_user_out();">{$expert['username']}医生</a></h3>
                    <p class="ask-expert"><a href="{url question/add/$expert['uid']}"><img src="{SITE_URL}css/default/ask_expert.png" /></a></p>
                    <!--{if $expert['category']}-->
                    <p class="info">擅长:
                        <!--{loop $expert['category'] $index $category}-->
                        <!--{if $index==0}-->
                        <i class="expert-field"><a target="_blank" href="{url category/view/$category['cid']}">{$category['categoryname']}</a></i>
                        <!--{/if}-->
                        <!--{/loop}-->
                    </p>
                    <!--{/if}-->
                    <span>回答：{$expert['answers']}</span>
                    <span>采纳：{$expert['adopts']}</span>
                </li>
                <!--{/loop}-->
            </ul>
        </div>
        <!--{/if}-->
        <div class="modbox mt10">
            <h3 class="title">帮助</h3>
            <ul class="leftlist">
                <li><a href="#">· 如何提问!</a></li>
                <li><a href="#">· 如何赚取健康币!</a></li>
                <li><a href="#">· 如何处理问题!</a></li>
            </ul>
        </div>
        <!--广告位2-->
        <!--{if (isset($adlist['category']['right1']) && trim($adlist['category']['right1']))}-->
        <div>{$adlist['category']['right1']}</div>
        <!--{/if}-->
    </div>
</div>
<!--{template footer}-->