<!--{template header}-->
<div class="wrapper bordered mt10 clearfix">
    <div class="expert-space-left">
        <div class="expert-general">
            <div class="title">医生主页</div>
            <div class="expert-content">
                <div class="expert-avatar"><img src="{$member['avatar']}" width="180px" height="180px"/></div>
                <div class="expert-desc">
                    <div class="expert-info">
                        <h4>{$member['username']}医生 <img src="{SITE_URL}css/default/expert-v.png" /></h4>
                        <span class="hospital">医院：</span>临沂市人民医院
                    </div>
                    <div class="expert-info">
                        <span class="goodat"></span>
                        <!--{if $member['category']}-->
                        <!--{loop $member['category'] $category}-->
                        <i class="expert-field"><a target="_blank" href="{url category/view/$category['cid']}">{$category['categoryname']}</a></i>
                        <!--{/loop}-->
                        <!--{else}-->
                        暂无
                        <!--{/if}-->
                    </div>
                    <div class="expert-info">
                        <span class="short_desc"></span>
                        <div class="short_desc_info">{if $member['signature']}{$member['signature']}{else}暂无介绍{/if}</div>
                        <div class='clr'></div>
                    </div>
                    <div class="expert_action" >
                        <span>感谢信：{$member['letters']}封 <input type="button" class="btn_expert_space" value="写感谢信" /></span> 
                        <span style="margin-left: 20px;">礼物：{$member['gifts']}件 <input type="button" class="btn_expert_space" value="赠送礼物" /></span>
                        <p><input type="submit" name="submit" class="normal-button flright" value="提交问题"></p>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <div class="expert-main">
            <div id="qa-tabcard">
                <ul>
                    <li><a href="{url user/space/$expert['uid']}">问答记录</a></li>
                    <li   class="on">用户评价</li>
                    <li><a href="#">感谢信</a></li>
                    <li><a href="#">收到的礼物</a></li>
                </ul>
            </div>
            <div class="question-mod">
                <ul class="qlist">
                    <!--{loop $commentlist $comment}-->
                    <li>
                        {$comment['content']}
                        <p class="count">{$comment['author']}&nbsp;评价于&nbsp;{$comment['format_time']}</p>
                    </li>
                    <!--{/loop}-->
                </ul>
            </div>
        </div>
    </div>
    <div class="aside-right">
        <div class="modbox2 mt10">
            <div class="title">医生资格认证</div>
            <div class="certificate">
                <ul>
                    <li><img src="{SITE_URL}css/default/shengfen_rz.png" title="医生认证"/></li>
                    <li><img src="{SITE_URL}css/default/yisheng_rz.png" /></li>
                    <li><img src="{SITE_URL}css/default/yishengzige_rz.png" /></li>
                    <li><img src="{SITE_URL}css/default/mobile_rz.png" /></li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
        <div class="modbox2 mt10">
            <div class="title">服务满意度</div>
            <div class="satisfaction">
                <div class="item">
                    <span class='bar_text'>非常满意：</span>
                    <div class="Bars">
                        <div style="width: {$levelcount['good']}%;"></div>
                    </div>
                    &nbsp;{$levelcount['bad']}%
                </div>
                <div class="item">
                    <span class='bar_text'>满意：</span>
                    <div class="Bars">
                        <div style="width: {$levelcount['good']}%;"></div>
                    </div>
                    &nbsp;{$levelcount['good']}%
                </div>
                <div class="item">
                    <span class='bar_text'>不满意：</span>
                    <div class="Bars">
                        <div style="width: {$levelcount['bad']}%;"></div>
                    </div>
                    &nbsp;{$levelcount['bad']}%
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <div class="modbox2 mt10">
            <div class="title">精彩推荐</div>
            <ul class="list">
                <!--{loop $questionlist $question}-->
                <li><span class="qdot">·</span> <a href="{url question/view/$question['id']}" title="{$question['title']}" target="_blank">{eval echo cutstr($question['title'],28)}</a></li>
                <!--{/loop}-->
            </ul>
            <div class="clr"></div>
        </div>
    </div>
</div>
<!--{template footer}-->
