<!--{template header}-->
<div class="wrapper bordered mt10 clearfix">
    <div class="content-left">
        <div class="expert-general">
            <div class="title">医生主页</div>
            <div class="expert-content">
                <div class="expert-avatar"><img src="{$member['avatar']}" width="180px" height="180px"/></div>
                <div class="expert-desc">
                    <div class="expert-name">
                        <h4>徐晓燕医生 <img src="{SITE_URL}css/default/expert-v.png" /></h4>
                        <span>医院：</span>临沂市人民医院
                    </div>
                    <div class="expert-name">
                        
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="aside-right">asdfasdfasf</div>
</div>
<!--{template footer}-->
