<!--{template header}-->
<!--{eval $adlist = $this->fromcache("adlist");}-->
<div class="wrapper bordered mt10 clearfix">
    <div class="expert-left">
        <div class="expert-category">
            <ul>
                <!--{eval $categorylist=$this->fromcache('categorylist');}-->
                <!--{loop $categorylist $index  $category1}-->
                <li {if $categoryid==$category1['id']}class="active"{/if}><a title="{$category1['name']}" href="{url expert/default/$category1['id']}">{$category1['name']}</a></li>
                <!--{/loop}--> 
            </ul>
        </div>
        <div class="experts mt10">
            <div class="expert-filter">
                <span>筛选：</span>
                <div class="check_box"><input type="checkbox" name="realtime" value="1"/> <label>实时在线的</label></div>
                <div class="check_box"><input type="checkbox" name="realtime" value="1"/> <label>可以咨询的</label></div>
                <div class="clr"></div>
            </div>
            <!--{loop $expertlist $index $expert}-->

            <div class="expert" {if $index%2!=0}style="margin-left:8px;"{/if}>
                 <div class="expert-info">
                    <div class="expert-avatar">
                        <a class="pic" target="_blank" title="{$expert['username']}" href="{url user/space/$expert['uid']}"><img width="79" height="86" src="{$expert['avatar']}" alt="{$expert['username']}"></a>
                    </div>
                    <div class="expert-desc">
                        <a class="title" target="_blank" title="{$expert['username']}" href="{url user/space/$expert['uid']}">{$expert['username']}</a>
                        <span>职称：医生</span>
                        <span>医院：临沂市人民医院</span>
                        <span>擅长领域：{$expert['category'][0]['categoryname']}</span>
                    </div>
                    <div class="clr"></div>
                </div>
                <p class="expert-intro"><span>专长：</span>阿萨德发生发生</p>
                <div class="advisory">
                    <img src="{SITE_URL}css/default/expert_status_ok.png" style="vertical-align:middle;"/>
                    <input type="button" value="点击咨询" class="btn_on" />
                    <input type="button" value="电话咨询" class="btn_on" />
                </div>
            </div>
            <!--{/loop}-->
        </div>	
        <div class="pages">{$departstr}</div>	
    </div>

    <div class="expert-right">
        <div class="modbox2 mt10">
            <div class="title">专家最新解答</div>
            <div class="user-center">
                <p>账户余额：    <font color="#1abdc4">18.00</font><a href="#" class="charge">充值</a></p>
                <p><a href="#" class="record">我的咨询记录</a><a href="#" class="charge">我的提问</a></p>
                <p>最近咨询过的医生：</p>
                <p>张三<span class="recor-time">12-08 16:00</span></p>
                <p>张三<span class="recor-time">12-08 16:00</span></p>
                <p>张三<span class="recor-time">12-08 16:00</span></p>
            </div>
        </div>
        <div class="modbox2 mt10">
            <div class="title">同地区在线的专家</div>
            <div class="user-center">
                <p>	
                    <select name="province-address3"  id="province-address3"><option value='0'>请选择</option></select>
                    <select name="city-address3" id="city-address3"><option value='0'>请选择</option></select>
                    <select name="district-address3" id="district-address3"><option value='0'>请选择</option></select>
                </p>
                <p><input type="button" value="查找" /></p>
                <p>张三<span class="recor-time">临沂市人民医院</span></p>
                <p>李四<span class="recor-time">兰山区妇幼保健院</span></p>
                <p>王五<span class="recor-time">兰山区妇幼保健院</span></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{SITE_URL}js/connSelectLocation.js"></script>
<script type="text/javascript">
    $(function() {
        $("#conn-address3").connectSelectLocation({
            data: '{SITE_URL}js/location.js',
            select1: $("#province-address3"),
            select2: $("#city-address3"),
            select3: $("#district-address3"),
            current: [4, 4, 73],
        });
    });
</script>
<!--{template footer}-->
