<div class="wrapper">
    <div class="footer">
        <div class="bottom">
            <a href="{SITE_URL}" target="_blank">关于我们</a><span class="span-line">|</span>
            <a href="mailto:{$setting['admin_email']}" target="_blank">公司简介</a><span class="span-line">|</span>
            <a href="{url index/help}" target="_blank">服务声明</a><span class="span-line">|</span>
            <a href="{url index/help}" target="_blank">联系我们</a>
            <!--{if $setting['site_icp']}-->
            <span class="span-line">|</span><a href="http://www.miibeian.gov.cn" target="_blank">{$setting['site_icp']}</a>
            <!--{/if}-->
            <!--{if $setting['site_statcode']}-->
            {$setting['site_statcode']}
            <!--{/if}-->
        </div>
        <div class="bottom">
            <p>Copyright © 2013-2014 Aitaocn Corporation, All Rights Reserved</p>
            <p>本站所有信息仅供参考_不能作为诊断及医疗的依据 ┊ 本站如有转载或引用文章涉及版权问题_请速与我们联系！</p>
            <p>艾在呵护，桃出精彩！ 全国统一客服热线：400-600-0539</p>
            <p>艾桃母婴健康网 · 版权所有</p>
        </div>
    </div>
</div>
<a id="scrollUp" href="#top" title="" style="position: fixed; z-index: 2147483647; display: block;"></a>
<div class="usercard" id="usercard"><div class="usercard_in clearfix"><div class="loading"><img src='{SITE_URL}css/default/loading.gif' align='absmiddle' />&nbsp;加载中...</div></div></div>
<script type="text/javascript" src="{SITE_URL}js/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="{SITE_URL}js/jquery.scrollup.js"></script>
<script type="text/javascript" src="{SITE_URL}js/common.js"></script>
<script type="text/javascript">
                $.scrollUp({
                scrollName: 'scrollUp', // Element ID
                topDistance: '260', // Distance from top before showing element (px)
                topSpeed: 300, // Speed back to top (ms)
                animation: 'fade', // Fade, slide, none
                animationInSpeed: 200, // Animation in speed (ms)
                animationOutSpeed: 200, // Animation out speed (ms)
                scrollText: '', // Text for element
                activeOverlay: false  // Set CSS color to display scrollUp active point, e.g '#00FFFF'
            });
</script>
</body>
</html>