<!--{template header}-->
<!--{eval $adlist = $this->fromcache("adlist");}-->
<div class="wrapper bordered mt10 clearfix">
    <div class="aside">
        <!--{if $user['uid']}-->
        <div class="userinfo-box">
            <div class="userinfo clearfix">
                <div class="pic">
                    <a target="_blank" href="{url user/default}" ><img  src="{$user['avatar']}"></a>
                </div>
                <div class="user_right">
                    <h3><a target="_blank" href="{url user/default}">{$user['username']}</a></h3>
                    <p>用户组：{$user['grouptitle']}</p>
                    <p>健康币：{$user['credit2']}</p>
                </div>
            </div>
            <ul class="menu clearfix">
                <li>{$user['questions']}<a href="{url user/ask/1}">我的提问</a></li>
                <li>{$user['answers']}<a href="{url favorite/default}">我的收藏</a></li>
            </ul>
            <div class="goask"><p>go<a href="{url question/add}">去提问题</a></p></div>
        </div>
        <!--{else}-->
        <div class="register_ad">
            <a href="{url user/register}">
                <img src="{SITE_URL}css/default/register_ad.png" />
            </a>
        </div>
        <!--{/if}-->

        <div class="category-mod">
            <h3 class="category-title">育儿问答</h3>
            <div class="count">
                <!--{eval $statistics=$this->fromcache('statistics');}-->
                <p>
                    <span class="arrow_right">></span>
                    <span class="count_text">共提问问题数：</span>
                    <span class="count_num">{$statistics['totalnum']}</span>
                </p>
                <p>
                    <span class="arrow_right">></span>
                    <span class="count_text">已解决问题数：</span>
                    <span class="count_num">{$statistics['solves']}</span>
                </p>
            </div>
            <div class="category-nav">
                <!--{eval $categorylist=$this->fromcache('categorylist');}-->
                <!--{loop $categorylist  $category1}-->
                <div {if !$category1['sublist']}class="categorybox"{else}class="categorybox curr_menu"{/if}>
                    <div class="cate-item">
                        <h3><a target="_blank" title="{$category1['name']}" href="{url category/view/$category1['id']}">{$category1['name']}</a></h3>
                        <p>
                            <!--{loop $category1['sublist'] $index $category2}-->
                            <a href="{url category/view/$category2['id']}">{$category2['name']}</a>
                            <!--{/loop}-->
                        </p>
                    </div>
                </div>
                <!--{/loop}--> 
            </div>

        </div>
        <div class="clr"></div>
        <div class="category-mod mt10">
            <h3 class="category-title">最新公告</h3>
            <ul class="leftlist">
                <!--{eval $notelist=$this->fromcache('notelist');}-->
                <!--{loop $notelist $nindex $note}-->
                <!--{eval $nindex++}-->
                <!--{if $nindex<=3}-->
                <li><a target="_blank" title="{$note['title']}" {if $note['url']}href="{$note['url']}"{else}href="{url note/view/$note['id']}"{/if}>· {eval echo cutstr({$note['title']},40,'');}</a></li>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>
        </div>
        <div class="clr"></div>
        <div class="category-mod mt10 mb10">
            <h3 class="category-title">帮助</h3>
            <ul class="leftlist">
                <li><a href="#">· 如何提问!</a></li>
                <li><a href="#">· 如何赚取健康币!</a></li>
                <li><a href="#">· 如何处理问题!</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="slider-box">
            <div id="scrollPic" class="otherScroll"> 
                <ul> <!-- 首屏轮播广告 --><li style="position: absolute; display: none;">
                        <p class="img"><a href="http://www.mama.cn/ask/q4582777-p1.html" target="blank"><img width="380" height="190" src="{SITE_URL}css/guanggao/slider1.jpg" /></a></p>
                        <dl class="txt">
                            <dt><a href="http://www.mama.cn/ask/q4582777-p1.html" target="blank">产后偏头痛怎么办啊？</a></dt>
                            <dd><p><span><a target="blank" href="http://www.mama.cn/ask/user/13005916.html">邵娓</a></span><a target="blank" href="http://www.mama.cn/ask/q4582793-p1.html">为啥生孩子后头疼呢？是月子没有坐好吗</a></p>
                                <p><span><a target="blank" href="http://www.mama.cn/ask/user/9202688.html">米拉杰</a></span><a target="blank" href="http://www.mama.cn/ask/q4582822-p1.html">产后偏头疼，要吃药还是去医院呢？</a></p>
                                <p><span><a target="blank" href="http://www.mama.cn/ask/user/9202676.html">温蒂玛贝尔</a></span><a target="blank" href="http://www.mama.cn/ask/q4582861-p1.html">孕期偏头痛是咋回事？要怎样预防呢？</a></p>
                                <p><span><a target="blank" href="http://www.mama.cn/ask/user/9202890.html">8775135456</a></span><a target="blank" href="http://www.mama.cn/ask/q4582875-p1.html">一痛就痛几个小时，就是偏头疼吗？</a></p>
                            </dd>
                        </dl>
                    </li>
                    <li style="position: absolute; display: none;">
                        <p class="img"><a href="http://www.mama.cn/ask/q4579067-p1.html" target="blank"><img width="380" height="190" src="{SITE_URL}css/guanggao/slider2.jpg" /></a></p>
                        <dl class="txt">
                            <dt><a href="http://www.mama.cn/ask/q4579067-p1.html" target="blank">两胎间隔多久好呢？</a></dt>
                            <dd><p><span><a target="blank" href="http://www.mama.cn/ask/user/9202662.html">阿斯兰特</a></span><a target="blank" href="http://www.mama.cn/ask/q4581046-p1.html">紧张！怀二胎和一胎有什么不一样的吗？</a></p>
                                <p><span><a target="blank" href="http://www.mama.cn/ask/user/12124387.html">夏日的萤火虫</a></span><a target="blank" href="http://www.mama.cn/ask/q4568897-p1.html">第一胎剖腹产二胎顺产正常吗？谁知道啊</a></p>
                                <p><span><a target="blank" href="http://www.mama.cn/ask/user/9202789.html">米奇米绮</a></span><a target="blank" href="http://www.mama.cn/ask/q4579074-p1.html">备孕二胎，需要到医院做孕前检查吗？</a></p>
                                <p><span><a target="blank" href="http://www.mama.cn/ask/user/9202672.html">舒卡勒托</a></span><a target="blank" href="http://www.mama.cn/ask/q4579082-p1.html">一胎剖腹产和顺产隔几年后能要二胎呢？</a></p>
                            </dd>
                        </dl>
                    </li>
                    <li style="position: absolute; display: list-item;">
                        <p class="img"><a href="http://www.mama.cn/ask/q4573748-p1.html" target="blank"><img width="380" height="190" src="{SITE_URL}css/guanggao/slider3.jpg" /></a></p>
                        <dl class="txt">
                            <dt><a href="http://www.mama.cn/ask/q4573748-p1.html" target="blank">叶酸，该怎么吃呢？</a></dt>
                            <dd><p><span><a target="blank" href="http://www.mama.cn/ask/user/9202672.html">舒卡勒托</a></span><a target="blank" href="http://www.mama.cn/ask/q4573720-p1.html">为什么怀孕前和怀孕期要吃叶酸呢？</a></p>
                                <p><span><a target="blank" href="http://www.mama.cn/ask/user/8968421.html">吴家小宝宝</a></span><a target="blank" href="http://www.mama.cn/ask/q4572306-p1.html">前三个月没吃叶酸，对宝宝会有影响吗？</a></p>
                                <p><span><a target="blank" href="http://www.mama.cn/ask/user/12126849.html">fhdkfjdk</a></span><a target="blank" href="http://www.mama.cn/ask/q4567899-p1.html">求助！叶酸吃多了会不会有副作用啊？</a></p>
                                <p><span><a target="blank" href="http://www.mama.cn/ask/user/12053637.html">atong木</a></span><a target="blank" href="http://www.mama.cn/ask/q4560725-p1.html">听说女人吃叶酸容易怀孕？真的吗？</a></p>
                            </dd>
                        </dl>
                    </li>

                </ul> 
                <div class="switch"></div> 
            </div>
            <script type="text/javascript">
                $(function() {
//focus
                    show_sidebar("#scrollPic");
                });
            </script>
        </div>
        <div class="main">
            <!--广告位1-->
            <!--{if (isset($adlist['index']['middle1']) && trim($adlist['index']['middle1']))}-->
            <div class="question-mod mt10">{$adlist['index']['middle1']}</div>
            <!--{/if}-->
            <!-- 待解决 -->
            <div class="index_ask_mod">
                <form action="{url question/add}"  method="post" name="askform" id="askform">
                    <input type="hidden" value="0" name="submit" />
                    <div class="counter" id="limitNum"><div id="ask_counter" class="counter">您还可以输入<span>50</span>字</div></div>
                    <textarea id="qtitle" name="title" placeholder="有问题，问专家"></textarea>
                    <p class="type">
                        <input type="image" src="{SITE_URL}css/default/a_submit.png" class="btn" id="submit_ask"/>
                        问题分类：
                        <select name="cid1" id="cid1">
                            <!--{loop $categorylist  $category1}-->
                            <option value="{$category1['id']}">{$category1['name']}</option>
                            <!--{/loop}-->
                        </select>
                        <select name="cid" id="cid2"><option value="0">请选择</option></select>
                    </p>
                </form>
            </div>
            <!--广告位2-->
            <!--{if (isset($adlist['index']['middle2']) && trim($adlist['index']['middle2']))}-->
            <div class="question-mod mt10">{$adlist['index']['middle2']}</div>
            <!--{/if}-->
            <!-- 最新已解决-->
            <div class="question-mod mt10">
                <h3 class="title">专家们正在解决</h3>
                <p class="more"><a href="{url category/view/all/2}" target="_blank">更多问题>></a></p>
                <!--{loop $questionlist $index $question}-->
                <ul class="list">	    		
                    <li class='avatar'>
                        <div class="pic"><a href="{url user/space/$question['authorid']}" target="_blank" ><img width="55" height="55"  src="{$question['avatar']}"></a></div>
                        <a href="{url user/space/$question['authorid']}">{$question['author']}大夫</a>
                        解答了问题：
                        <a target="_blank" href="{url question/view/$question['qid']}" title="{$question['title']}">{eval echo cutstr($question['title'],50);}</a>
                        <div class="info">
                            来自临沂市妇幼保健院
                            <span class="time">{$question['format_time']}</span>
                        </div>
                    </li>
                </ul>
                <!--{/loop}-->
            </div>
            <!-- 悬赏问题 -->
            <div class="question-mod mt10">
                <h3 class="title">热门话题</h3>
                <p class="more"><a href="{url category/view/all/2}" target="_blank">更多>></a></p>
                <div class="hot-tags">
                    <!--{eval $taglist=$this->fromcache('hosttaglist');}-->
                    <!--{loop $taglist $tag}-->
                    <a target="_blank" title="$tag['name']" href="{url question/search/tag:$tag['name']}">{$tag['name']}</a>
                    <!--{/loop}-->
                </div>
            </div>			
            <!--广告位3-->
            <!--{if (isset($adlist['index']['middle3']) && trim($adlist['index']['middle3']))}-->
            <div class="question-mod mt10">{$adlist['index']['middle3']}</div>
            <!--{/if}-->
            <!-- 最新已解决-->
            <div class="question-mod mt10 mb15">
                <h3 class="title">已解决问题</h3>
                <p class="more"><a href="{url category/view/all/2}" target="_blank">更多>></a></p>
                <!--{eval $solvelist=$this->fromcache('solvelist');}-->
                <!--{loop $solvelist $index $question}-->
                <ul class="list">	    		
                    <li>
                        <span class="qdot">·</span>
                        <a target="_blank" class="type" href="{url category/view/$question['cid']}" title="{$question['category_name']}">[{eval echo cutstr($question['category_name'],10,'');}]</a>
                        <a target="_blank" href="{url question/view/$question['id']}" title="{$question['title']}">{eval echo cutstr($question['title'],50);}</a>
                        <span class="answer-number">{$question['answers']}回答</span>
                    </li>
                </ul>
                <!--{/loop}-->
                <div class="clr" ></div>
            </div>
            <div class="clr" ></div>
        </div>
        <div class="side">
            <div class="modbox">
                <div class="title">最新提问</div>
                <p class="more"><a href="{url category/view/all/1}" target="_blank">更多</a></p>
                <ul class="right-list">
                    <!--{eval $nosolvelist=$this->fromcache('nosolvelist');}-->
                    <!--{loop $nosolvelist $index $question}-->
                    <li>
                        <span class="arrow_right">&gt;</span>
                        <a  title="{$question['title']}" target="_blank" href="{url question/view/$question['id']}">{eval echo cutstr($question['title'],30,'');}</a>
                        <div class="info">
                            <span class="time">{$question['format_time']}</span>
                            <a href="{url user/space/$question['authorid']}">{$question['author']}</a>
                            <a class="category_name" href="{url category/view/$question['cid']}" title="{$question['category_name']}">{eval echo cutstr($question['category_name'],10,'');}</a>
                        </div>
                    </li>
                    <!--{/loop}-->
                </ul>
            </div>
            <div class="modbox mt10">
                <div class="title">本周推荐专家</div>
                <p class="more"><a href="{url expert/default}" target="_blank">更多</a></p>
                <ul class="left-expert-list">
                    <!--{eval $expertlist=$this->fromcache('expertlist');}-->
                    <!--{loop $expertlist $expert}-->
                    <li>
                        <div class="pic"><a title="{$expert['name']}" target="_blank" href="{url user/space/$expert['uid']}"><img width="50" height="50" alt="{$expert['username']}" src="{$expert['avatar']}"  onmouseover="pop_user_on(this, '{$expert[uid]}', '');"  onmouseout="pop_user_out();"/></a></div>
                        <h3><a title="{$expert['name']}" target="_blank" href="{url user/space/$expert['uid']}" onmouseover="pop_user_on(this, '{$expert[uid]}', 'text');"  onmouseout="pop_user_out();">{$expert['username']}医生</a></h3>
                        <p class="ask-expert"><a href="{url question/add/$expert['uid']}"><img src="{SITE_URL}css/default/ask_expert.png" /></a></p>
                        <!--{if $expert['category']}-->
                        <p class="info">擅长:
                            <!--{loop $expert['category'] $index $category}-->
                            <!--{if $index==0}-->
                            <i class="expert-field"><a target="_blank" href="{url category/view/$category['cid']}">{$category['categoryname']}</a></i>
                            <!--{/if}-->
                            <!--{/loop}-->
                        </p>
                        <!--{/if}-->
                        <span>回答：{$expert['answers']}</span>
                        <span>采纳：{$expert['adopts']}</span>
                    </li>
                    <!--{/loop}-->
                </ul>
            </div>

            <!--广告位4-->
            <!--{if (isset($adlist['index']['right1']) && trim($adlist['index']['right1']))}-->
            <div class='mt10'>{$adlist['index']['right1']}</div>
            <!--{/if}-->
            <!-- 关注问题排行榜 -->
            <div class="modbox mt10">
                <div class="right-ad1">
                    <a href="#"><img src="css/guanggao/u7_normal.png" /></a>
                    <a href="#"><img src="css/guanggao/u9_normal.png" /></a>
                </div>
            </div>

        </div>
    </div>
</div>
<!--{if $linklist}-->
<div class="wrapper mt30 clearfix">
    <!-- 友情链接 -->
    <div class="links">
        <h3 class="title">友情链接</h3>
        <div class="friendlink">
            <!--{loop $linklist $link}-->
            <a target="_blank" href="{$link['url']}" title="{$link['description']}">
                <!--{if $link['logo']}-->
                <img src="{$link['logo']}" alt="{$link['name']}" />
                <!--{else}-->
                {$link['name']}
                <!--{/if}-->
            </a>
            <!--{/loop}-->
        </div>
    </div>
</div>
<!--{/if}-->
<script type="text/javascript">
    $(document).ready(function(){
        $("#cid1").change(function(){
            load_category(); 
        });
        load_category(); 
        $("#qtitle").keyup(function() {
            var qbyte = bytes($.trim($(this).val()));
            var limit = 100 - qbyte;
            if (limit % 2 == 0) {
                $("#limitNum span").html((limit / 2));
            } else {
                $("#limitNum span").html(((limit + 1) / 2));
            }
        });
        $("#submit_ask").click(function(){
            var qtitle = $("#qtitle").val();
            if (bytes($.trim(qtitle)) < 8 || bytes($.trim(qtitle)) > 100) {
                alert("问题标题长度不得少于4个字，不能超过50字！");
                $("#qtitle").focus();
                return false;
            }
            $("#askform").submit();
        });
    });

    //加载二级分类
    function load_category(){
        $("#cid2").load("{SITE_URL}index.php?category/ajaxgetcategory/"+$("#cid1").val());
    }
</script>
<!--{template footer}-->