<ul>

    <!--{loop $messagelist $message}-->
    <!--{if $message['fromuid']==$user['uid']}-->
    <li class="me">
        <p style="color:blue;">您 {$message['format_time']}</p>
        {$message['content']}
    </li>
    <!--{else}-->
    <li class="expert">
        <p style="color:green;">{if $message['fromuid']==$myauth['uid']}{$myauth['realname']}{else}{$message['from']}{/if} {$message['format_time']}</p>
        {$message['content']}
    </li>                                
    <!--{/if}-->
    <!--{/loop}-->


</ul>
