<!--{template header}-->
<div class="wrapper mt10 clearfix">
    <!--{template space_menu}-->
    <div class="user-content">
        <div class="my-answerbox">
            <div class="mod-status-info">
                <div class="hd">
                    <h3>TA的资料</h3>
                </div>
                <div class="bd">
                    <div class="status-data clearfix">
                        <ul>
                            <li class="item"><em>{$member['answers']}</em><span>回答</span></li>
                            <li class="item"><em>{$member['questions']}</em><span>提问</span></li>
                            <li class="item"><em>{$adoptpercent}%</em>采纳率</li>
                            <li class="item"><em>{$member['supports']}</em>赞同</li>
                            <li class="item"><em>{$member['credit1']}</em>经验</li>
                            <li class="item"><em>{$member['credit2']}</em><span>财富</span></li>
                            <li class="item"><em>{$member['followers']}</em><span>关注者</span></li>
                            <li class="item last"><em>{$member['attentions']}</em><span>已关注</span></li>
                        </ul>
                    </div>
                    <div class="expert-single-input clearfix">
                        <!--{if $member['introduction']}-->
                        <p><label>身份：</label><i>{$member['introduction']}</i></p>
                        <!--{/if}-->
                        <p>
                            <label>擅长：</label>
                            <!--{if $member['category']}-->
                            <!--{loop $member['category'] $category}-->
                            <i class="expert-field"><a target="_blank" href="{url category/view/$category['cid']}">{$category['categoryname']}</a></i>
                            <!--{/loop}-->
                            <!--{else}-->
                            暂无
                            <!--{/if}-->
                        </p>
                        <!--{if $member['mobile']}-->
                        <p><label>手机：</label><i>{$member['mobile']}</i></p>
                        <!--{/if}-->
                        <!--{if $member['qq']}-->
                        <p><label>qq：</label><i>{$member['qq']}</i></p>
                        <!--{/if}-->
                        <p><label>介绍：</label><i><span>{if $member['signature']}{$member['signature']}{else}暂无介绍{/if}</span></i></p>
                        <p><label>注册日期：</label><i>{$member['register_time']}</i></p>
                        <p><label>最近更新：</label><i>{$member['refresh_time']}</i></p>
                    </div>
                    <div class="ask-box clearfix">
                        <form name="askform" action="{url question/add/$member['uid']}" method="POST">
                            <input type="text" class="tag-input" name="word"/>
                            <input type="submit" name="post" class="normal-button" value="向TA提问"  />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--{template footer}-->