<!--{template header}-->
<div class="wrapper mt10 clearfix">
    <!--{template user_menu}-->
    <div class="user-content">
        <div class="my-answerbox">
            <div id="qa-tabcard">
                <ul>
                    <li><a href="{url user/profile}">个人资料</a></li>
                    <li><a href="{url user/uppass}">修改密码</a></li>
                    <li><a href="{url user/editimg}">修改头像</a></li>
                    <li><a href="{url user/mycategory}">我的设置</a></li>
                    <li class="on">认证服务</li>
                </ul>
            </div>
            <div id="appdnd"></div>
            <!--{if $myauth && !$edit}-->
            <div class="loginform">
                <div class="input-bar">
                    <!--{if $myauth['status']==1}-->
                    <p style="text-align: left;font-size: 16px;color:green;margin-left:140px; ">恭喜，资料已通过认证！</p>
                    <!--{elseif $myauth['status']==2}-->
                    <p style="text-align: left;font-size: 16px;color:gray;margin-left:140px;">认证信息审核失败，请核实相关资料，如有疑问请联系管理员！</p>
                    <!--{else}-->
                    <p style="text-align: left;font-size: 16px;color:orange;margin-left:140px;">认证信息正在审核中，请耐心等待！</p>
                    <!--{/if}-->
                </div>
                <div class="input-bar">
                    <h2><em>*</em> 姓名:</h2>
                    <span class='normal-text'>{$myauth['realname']}</span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 所属医院:</h2>
                    <span class='normal-text'>{$myauth['hospital']}</span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 职称:</h2>
                    <span class='normal-text'>{$myauth['job_title']}</span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 手机号:</h2>
                    <span class='normal-text'>{$myauth['mobile']}</span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 身份证号:</h2>
                    <span class='normal-text'>{$myauth['idcard']}</span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 证件扫描照:</h2>
                    <span class='normal-text'><img src="{SITE_URL}{$myauth['idcard_image']}" height="50px;"/> <a style="vertical-align: top"  target="_blank" href="{SITE_URL}{$myauth['idcard_image']}">查看</a></span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 相关资质证明:</h2>
                    <span class='normal-text'><img src="{SITE_URL}{$myauth['certificate']}" height="50px;"/> <a style="vertical-align: top" target="_blank" href="{SITE_URL}{$myauth['idcard_image']}">查看</a></span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 地区编号:</h2>
                    <span class='normal-text'>{$myauth['postcode']}</span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 省份城市:</h2>
                    <span class='normal-text'>{$location['province'][$myauth['province']]}&nbsp;{$location['city'][$myauth['city']]}&nbsp;{$location['district'][$myauth['district']]}</span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 地址:</h2>
                    <span class='normal-text'>{$myauth['address']}</span>
                </div>

                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 银行类型:</h2>
                    <span class='normal-text'>{$banklist[$myauth['bank_type']]}</span>                 
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2><em>*</em> 银行卡号:</h2>
                    <span class='normal-text'>{$myauth['bank_no']}</span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2>QQ:</h2>
                    <span class='normal-text'>{$myauth['qq']}</span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2>微信号:</h2>
                    <span class='normal-text'>{$myauth['weixin']}</span>
                </div>
                <div class="clr"></div>
                <div class="input-bar">
                    <h2>邮箱:</h2>
                    <span class='normal-text'>{$myauth['email']}</span>
                </div>
                <div class="clr"></div>
                <div class="auto-login">
                    <input type="button" name="edit" class="normal-button" value="修改"  onclick="javascript:document.location = '{url user/auth/edit}'"/>
                </div>
            </div>
            <!--{else}-->
            <div class="loginform">
                <form method="POST" name="authform"   action="{url user/auth}" enctype="multipart/form-data" onsubmit="return check_form();">
                    <div class="input-bar">
                        <p style="text-align: center;font-size: 16px;">我是育婴业者 （ <font color="red">*</font> 为必填项）</p>
                    </div>
                    <div class="input-bar">

                        <h2><em>*</em> 姓名:</h2>
                        <input type="text" name="realname" id="realname" class="normal-input" value="{$myauth['realname']}"/>

                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">

                        <h2><em>*</em> 所属医院:</h2>
                        <input type="text" name="hospital" id="hospital" class="normal-input" value="{$myauth['hospital']}"/>

                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">

                        <h2><em>*</em> 职称:</h2>
                        <input type="text" name="job_title" id="job_title" class="normal-input" value="{$myauth['job_title']}"/>

                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2><em>*</em> 手机号:</h2>
                        <input type="text" name="mobile" id="mobile" class="normal-input" value="{$myauth['mobile']}"/>
                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2><em>*</em> 身份证号:</h2>
                        <input type="text" name="idcard" id="idcard" class="normal-input" value="{$myauth['idcard']}"/>
                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2><em>*</em> 证件扫描照:</h2>
                        <input type="file" name="idcard_image" id="idcard_image" class="normal-input" />
                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2><em>*</em> 相关资质证明:</h2>
                        <input type="file" name="certificate" id="certificate" class="normal-input" />
                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2><em>*</em> 地区编号:</h2>
                        <input type="text" name="postcode" id="postcode" class="normal-input" value="{$myauth['postcode']}"/>
                    </div>
                    <div class="clr"></div>
                    <div class="input-bar" id="address">
                        <h2><em>*</em> 省份城市:</h2>
                        <select name="province"  id="province" class="normal_select"><option value='0'>请选择</option></select>
                        <select name="city" id="city" class="normal_select"><option value='0'>请选择</option></select>
                        <select name="district" id="district" class="normal_select"><option value='0'>请选择</option></select> 
                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2><em>*</em> 地址:</h2>
                        <input type="text" name="address" id="address" class="normal-input" value="{$myauth['address']}"/>
                    </div>

                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2><em>*</em> 银行类型:</h2>
                        <select id="bank_type" name="bank_type"  class="normal_select">
                            <!--{loop $banklist $index $bank}-->
                            <option value="{$index}" {if $index==$myauth['bank_type']}selected{/if}>{$bank}</option>
                            <!--{/loop}-->
                        </select>                    
                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2><em>*</em> 银行卡号:</h2>
                        <input type="text" name="bank_no" id="bank_no" class="normal-input" value="{$myauth['bank_no']}"/>
                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2>QQ:</h2>
                        <input type="text"  name="qq" id="qq" class="normal-input" value="{$myauth['qq']}"/>
                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2>微信号:</h2>
                        <input type="text"  name="weixin" id="weixin" class="normal-input" value="{$myauth['weixin']}"/>
                    </div>
                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2>邮箱:</h2>
                        <input type="text"  name="email" id="email" class="normal-input" value="{$myauth['email']}"/>
                    </div>
                    <div class="clr"></div>
                    <div class="auto-login">
                        <input type="submit" name="submit" class="normal-button" {if $myauth}value="重新提交" {else}value="确认提交" {/if}/>
                    </div>
                </form>
            </div>
            <!--{/if}-->
        </div>
    </div>
</div>
<script type="text/javascript" src="{SITE_URL}js/connSelectLocation.js"></script>
<script type="text/javascript">
                    $(function() {
                        $("#address").connectSelectLocation({
                        data: '{SITE_URL}js/location.js',
                                select1: $("#province"),
                                select2: $("#city"),
                                select3: $("#district"),
                                current:[{$myauth['province']}, {$myauth['city']}, {$myauth['district']}],
                    });
                    });
                            function check_form() {
                                return true;
                            }


</script>
<!--{template footer}-->